src/data/xml/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Model" type="ModelType"/>
  <xs:complexType name="OutlineType">
    <xs:sequence>
      <xs:element type="xs:integer" name="Up"/>
      <xs:element type="xs:integer" name="Right"/>
      <xs:element type="xs:integer" name="Bottom"/>
      <xs:element type="xs:integer" name="Left"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShapeType">
    <xs:sequence>
      <xs:element type="xs:string" name="Content"/>
      <xs:element type="xs:integer" name="Price"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ColorType">
    <xs:sequence>
      <xs:element type="xs:string" name="Content"/>
      <xs:element type="xs:integer" name="Price"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModelType">
    <xs:sequence>
      <xs:element type="OutlineType" name="Outline"/>
      <xs:element type="ShapeType" name="Shape"/>
      <xs:element type="ColorType" name="Color"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>